{#<div class="media-body">#}
{#    <div class="media-article">#}
{#        <div class="article-metadata">#}
{#            <div class="article-head-img">#}
{#                <img class="rounded-circle" src="{{ post.author.profile.image.url }}" width="50" height="50">#}
{#            </div>#}
{#            <div class="article-head">#}
{#                <a class="mr-2" href="{% url 'author_post' post.author.username %}">{{ post.author }}</a>#}
{#                <small class="text-muted">{{ post.date_posted }}</small>#}
{#                <h2><a class="article-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>#}
{#            </div>#}
{#        </div>#}
        {#        <h2><a class="article-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>#}
{##}
{#        <div class="article-content">#}
{#            {% if post.post_img %}#}
{#                <img src="{{ post.post_img.url }}" style="float:left; margin: 0 7px 7px 0; max-height:100%!important;">#}
{#            {% endif %}#}
{#            {{ post.body|safe|truncatewords:80 }}#}
{#        </div>#}
{#        <div style="color: #f5efaf; float: right; font-size: 12px">post have {{ post.comment_count }}#}
{#            {% if post.comment_count < 1 %}#}
{#                comment#}
{#            {% else %}#}
{#                comments#}
{#            {% endif %}#}
{#        </div>#}
{#        <div style="clear:both;">#}
{#            {% for tag in post.tags.all %}#}
{#                <a href="{% url 'tags_list' %}" class="badge badge-pill badge-dark">{{ tag }}</a>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}


            <div class="container">
                <div class="row">
                    <div class="blog-post-area-style">
                            <div class="col-md-12">
                                <div class="single-post-big">
                                    <div class="big-image">
                                        <img src="img/post-image1.jpg" alt="">
                                    </div>
                                    <div class="big-text">
                                        <h3><a href="#">Post Title Goes Here.</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        <h4><span class="date">25 February 2017</span><span class="author">Posted By: <span class="author-name">Kabbo Liate</span></span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image2.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image3.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image4.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image5.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image6.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image7.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image8.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image9.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
