asgiref==3.2.3
backcall==0.1.0
colorama==0.4.3
decorator==4.4.1
Django==3.0.7
django-ckeditor==5.8.0
django-crispy-forms==1.8.1
django-debug-toolbar==2.1
django-js-asset==1.2.2
django-tinymce==2.8.0
jedi==0.15.1
parso==0.5.1
pickleshare==0.7.5
Pillow==9.0.0
prompt-toolkit==3.0.2
Pygments==2.5.2
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
traitlets==4.3.3
wcwidth==0.1.7
