{% extends 'django_blog/base.html' %}
{% load crispy_forms_tags %}

{% block message %}
    {% if messages %}
        {% for massage in messages %}
            <div class="alert alert-success" role="alert">
                {{ massage }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="register">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
{#                {{ form.as_p }}#}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log In</button>
            </div>
        </form>
        <div class="border-top pt-3">

            <p>Need an Account?
                <a class="ml-2" href="{% url 'register' %}"><strong style="color: #17a2b8;">
                    Sign Up Now</strong>
                </a>
            </p>

            <p>Forget your Password?
                <a class="ml-2" href="{% url 'reset' %}"><strong style="color: #17a2b8;">
                    Reset your password</strong>
                </a>
            </p>

        </div>
    </div>

{% endblock %}