{% extends 'django_blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-3">
    <div class="row">
<div class="col-md-12">
    <div class="register">
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="150px" height="150px">
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text">{{ user.email }}</p>
                    <p class="text-dark">Joined: {{ user.date_joined }}</p>
                </div>
            </div>
        </div>
        <div style="padding-left: 40%"><a class="ml-2" href="{% url 'reset' %}" style="color: #800600;">RESET YOUR PASSWORD</a></div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile info</legend>
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>

    </div>
</div>
    </div>
    </div>
{% endblock %}

{% block right %}
    <div class="right_panel">

        <br>
        {% if  user.is_authenticated %}
            <div class="admin-panel">
                <h5>Create panel</h5>
                <a href="{% url 'post_create' %}" class="btn btn-outline-info">+Post</a>
                <a href="{% url 'tag_create' %}" class="btn btn-outline-info">+Tag</a>
                {% if user.is_staff %}
                    <a href="/admin" class="btn btn-outline-info">Admin</a>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block left %}
    <div class="content-section">
        <br>
        {% if  user.is_authenticated %}
            <div class="admin-panel-left">
                <h5>Create panel</h5>
                <a href="{% url 'post_create' %}" class="btn btn-outline-info">+Post</a>
                <a href="{% url 'tag_create' %}" class="btn btn-outline-info">+Tag</a>
                {% if user.is_staff %}
                    <a href="/admin" class="btn btn-outline-info">Admin</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}