{% extends 'django_blog/base.html' %}

{% block title %}
    Blog
{% endblock %}

{% block message %}
    {% if messages %}
        {% for massage in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ massage }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}


{% block content %}
    My initial page
{% endblock %}

{% block right %}

        <br>
        {% if  user.is_authenticated %}
            <div class="admin-panel">
                {% if user.is_staff %}
                    <a href="/admin" class="btn btn-outline-info">Admin</a>
                {% endif %}
            </div>
        {% endif %}
{% endblock %}

