{% extends 'django_blog/base.html' %}

{% block image_section %}
    {% if is_paginated %}
        {% if page_obj.number == 1 %}
            <section class="bg-text-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bg-text">
                                <h3>Classic BLOG Design</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

    {% endif %}

{% endblock %}
