{% extends 'django_blog/base.html' %}

{% block right %}
    <div class="right_panel">
        <div class="content-section">
            <h5 style="color: #4f4f4f">Most interesting post</h5>

            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>

            </ul>

        </div>
        <br>
        {% if  user.is_authenticated %}
            <div class="admin-panel">
                <h5>Create panel</h5>
                <a href="{% url 'post_create' %}" class="btn btn-outline-info">+Post</a>
                <a href="{% url 'tag_create' %}" class="btn btn-outline-info">+Tag</a>
                {% if user.is_staff %}
                    <a href="/admin" class="btn btn-outline-info">Admin</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block left %}
    <div class="content-section">
        <div class="nuvcover">
            <nav>
                <ul>
                    <li><a href="{% url 'index_page' %}" style=""><span>Home</span></a></li>
                    <li><a href="{% url 'blog_home' %}"><span>Articles</span></a></li>
                    <li><a href="{% url 'tags_list' %}"><span>Tags</span></a></li>
                    <li><a href="{% url 'search_home' %}"><span>All</span></a></li>

                </ul>
            </nav>
        </div>

        <br>
        {% if  user.is_authenticated %}
            <div class="admin-panel-left">
                <h5>Create panel</h5>
                <a href="{% url 'post_create' %}" class="btn btn-outline-info">+Post</a>
                <a href="{% url 'tag_create' %}" class="btn btn-outline-info">+Tag</a>
                {% if user.is_staff %}
                    <a href="/admin" class="btn btn-outline-info">Admin</a>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}