{% extends 'my_blog/blog_base.html' %}

{% block title %}
    Posts
{% endblock %}


{% block content %}

    {% for post in posts %}
        {% include 'my_blog/includes/post_cards_template.html' %}

    {% endfor %}

    {% if is_paginated %}
        <nav aria-label="...">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}"> << </a>
                    </li>

                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" style="background-color: rgba(1,1,1,0)"> << </span>
                    </li>
                {% endif %}



                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ page_obj.number }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ request.path }}?page={{ i }}">
                                {{ i }}
                            </a>
                        </li>
                    {% endif %}

                {% endfor %}


                {% if page_obj.has_next %}
                    {#                    <li class="page-item"><a class="page-link"#}
                    {#                                             href="{{ request.path }}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }} </a>#}
                    {#                    </li>#}
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}"> >> </a>
                    </li>

                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" style="background-color: rgba(1,1,1,0)" href=""> >> </a>
                    </li>
                {% endif %}


            </ul>
        </nav>
    {% endif %}


{% endblock %}
