{% extends 'django_blog/base.html' %}

{% block image_section %}
    {% if is_paginated %}
        {% if page_obj.number == 1 %}
            <section class="bg-text-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bg-text">
                                <h4>My second site</h4>
                                <h4>with good template</h4>
                                <p>This web site created by Sem using django framework of Python </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

    {% endif %}

{% endblock %}
