{% extends 'my_blog/blog_base.html' %}

{% block title %}
    Update post {{ post.title }}
{% endblock %}


{% block content %}


<div class="post_form" >
    <form action="{{ post.get_update_url }}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ field.errors }}
                    </div>
                {% endif %}

{#                <div class="form-group">#}
                    {{ field.label }}

                    {{ field }}

{#                </div>#}
            </div>
        {% endfor %}


        <button type="submit" class="btn btn-outline-info" style="">
            Update Post
        </button>
    </form>
</div>



{% endblock %}
