{% extends 'my_blog/blog_base.html' %}

{% block title %}
    Update tag {{ tag.tag }}
{% endblock %}


{% block content %}

    <div class="tag_form">
        <form action="{{ tag.get_update_url }}" method="post">
            {% csrf_token %}

            {% for field in form %}

                {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                    {{ field.errors }}
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}


            <button type="submit" class="btn btn-outline-info" style="">
                Update Tag
            </button>
        </form>
    </div>


{% endblock %}
