/*  Body */
body {
    display: grid;
    grid-template-areas: "header header header" "aside article ads" "footer footer footer";
    grid-template-rows: 10% 1fr 7%;
    grid-template-columns: 15% 1fr 15%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    /*background: linear-gradient(0deg, rgba(252,255,223,0.8057598039215687) 0%, rgba(0,111,130,0.819765406162465) 100%);*/
}

body:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background: linear-gradient(0deg, rgba(252, 255, 223, 0.8057598039215687) 0%, rgba(0, 111, 130, 0.819765406162465) 100%);
}

@media (min-width: 740px) and (max-width: 1199px) {
    body {
        grid-template-areas: "header header" "aside article" "footer footer";
        grid-template-columns: 18% 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        height: 100vh;
        margin: 0;
    }

    .siteAds {
        display: none;
    }
    .mainBorder {
        padding: 50% 12%;
    }
    .content-section .admin-panel-left {
        visibility: visible;
    }
}

/* Stack the layout on small devices/viewports. */
@media (min-width: 100px) and (max-width: 739px) {
    body {
        grid-template-areas: "header" "article" "footer";
        grid-template-columns: 1fr;
    }

    .siteAds {
        display: none;
    }

    .mainBorder {
        display: none;
    }
    .main_content .register {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
}


@media (min-width: 768px){
    .container, .container-md, .container-sm {
     max-width: 90%;
}
}

@media (min-width: 576px){
    .container, .container-sm {
     max-width: 90%;
}
}


@media (min-width: 50px){
    .container {
     max-width: 90%;
}
}


/*  Header */
.pageHeader {
    grid-area: header;
    background: rgb(71, 152, 162);

    width: 100%;
    top: 0;
    left: 0;
}

header a:hover {
    color: #ffdd47;
    text-decoration: none;
}

/*  Navigation bar */
.Navbar {

    display: flex;
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    opacity: 1;
    text-transform: uppercase;
}


.Navbar__Link {
    padding-right: 15px;
    text-decoration: none;
    color: white;
}

.Navbar__Items {
    display: flex;
    padding: 40px 10px 30px 10px;

}

.Navbar__Items--right {
    margin-left: auto;
    font-size: 12px;
    padding-right: 15px;
}

.Navbar__Link-toggle {
    display: none;
}

@media screen and (max-width: 850px) {
    .pageHeader {
        position: fixed;
    }

    .Navbar__Items,
    .Navbar {
        flex-direction: column;
    }

    .Navbar__Items {
        display: none;
        padding: 0;

    }

    .Navbar__Link {
        /*padding-bottom: 10px;*/
        padding: 0 0 0 20px;
        margin-bottom: 10px;
    }

    .logo {
        max-width: 30%;
        max-height: 30%;
    }

    .Navbar__Items--right {
        flex-direction: row;
        padding: 0 10px 0 10px;
    }

    .Navbar__ToggleShow {
        display: flex;
    }

    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
}

/*search menu Navbar*/
#search-engine {
  -webkit-appearance: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 30px;
  padding: 0 8px;
  height: 15px;
  font-size: 14px;
  color: #545151;
  line-height: 25px;
  border: 0;
  border-radius: 50px;
  position: relative;
  z-index: 5;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
}

#search-engine:focus {
  outline: none;
  width: 170px;
    height: 20px;
}

p.kodasegun {
  z-index: 4;
  position: relative;
  padding: 4px;
  line-height: 0;
  border-radius: 100px;
  background: #bee6f5;
  background-image: -webkit-linear-gradient(#bcdce6,#e1eff5);
  background-image: -moz-linear-gradient(#dbf6ff,#b9ecfe);
  display: inline-block;
}


/*Navbar Button*/
.nav_button {
    margin-top: 30px;
    margin-right: 30px;
    width: 40px;
    height: 35px;
    transition: 0.4s;
}

.button_row {
    flex: auto;
    margin: 8px 5px;
    background-color: white;
    width: 30px;
    height: 5px;
    border-radius: 10px;
}

.nav_button:hover {
    transform: rotate(-90deg);
}


/* Main part article page */
.mainArticle {
    border: 1px solid #000;
    grid-area: article;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 5px;
}

main a {
    color: #451a24;
    text-decoration: none;
}

main a:hover {
    color: #893835;
    text-decoration: none;
}

.media-body {
    justify-content: space-between;
    padding: 1%;
    width: 100%;
}

.media-body-comment {
    justify-content: space-between;
    padding: 1%;
    width: 80%;
}

.media-article {
    background: rgba(158, 20, 167, 0.11);
    padding: 2%;
    border-radius: 0 50px 0 50px;
    overflow:hidden;
}

.media-comment {
    background: rgba(194, 24, 203, 0.12);
    padding: 10px 20px;
    border-radius: 30px;
    overflow:hidden;
}

small.text-muted {
    color: #380600 !important;
    float: right;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.article-content{
    position:relative;
}
.article-title {
    font-size: 26px;

}

.content-section {
    margin: 0;
}

.article-metadata{
    width: 95%;
}

.article-head{
    display:inline;
    padding-right: 5px;
    padding-left: 5px;
}

.article-head-img{
    float: left;
    margin-right: 10px;
}

a.badge-dark{
    font-weight: normal;
}

a.badge-dark:focus, a.badge-dark:hover {
    color: #0e0e0e;
    background-color: #78e3ff;
}

/* pagination */
.pagination{
    justify-content: center;
}

.page-link {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    z-index: 3;
    color: #341a1a;
    background-color: rgba(1,1,1,0);
    border: none;
}


.page-item.active .page-link {
    z-index: 3;
    color: #048989;
    background-color: rgba(1,1,1,0);
    border-radius: 5px;
    /*border: 1px #00A4B6;*/
    font-weight: bold;
    font-size: 15px;
}

.page-link:hover {
    color: #451a24;
    text-decoration: none;
    background-color: rgba(102, 243, 255, 0.29);
    border-radius: 10px;
    z-index: 3;

}


/*registration forms*/
.register {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

/*Tag creation form*/
.tag_form{
    display: flex;
    padding: 10px;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.post_form{
    padding: 10px;
    width: 100%;
    height: 100%;
}

.post_comment{
    padding: 10px;
    width: 80%;
    height: 80%;
}

#comment_text {
	overflow:hidden;
	background-color:#FFF;
	color:#222;
	font-weight:normal;
	font-size:16px;
	resize:none;
	line-height:40px;
	padding-left:100px;
	padding-right:20px;
	padding-top:9px;
	padding-bottom:34px;
	background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
	background-repeat:repeat-y, repeat;
	border-radius:12px;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}
/* lEFT Navigation menu*/
.mainBorder {
    padding: 60px 20% 200px 20%;
    grid-area: aside;
}

.content-section{
    display: block;
}

.nuvcover {
    margin: 0 0 50px;
    /*height: 100vh;*/
    /*display: flex;*/
    position: fixed;
    align-items: center;
    justify-content: center;
    background: rgba(158, 20, 167, 0.11);
    border-radius: 10px;
    display: block;


}

.nuvcover nav ul {
    list-style-type: none;
    padding: 10px;
}

.nuvcover nav ul li {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: rgba(158, 20, 167, 0);
    /*border: 2px solid black;*/
    letter-spacing: 0.1em;
    width: 5em;
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
    overflow: hidden;
    margin: 0.5em;
    cursor: pointer;
    /*border-radius: 10px;*/

}

.nuvcover nav ul li a {
    text-decoration: none;
}
.nuvcover nav ul li a span {
    color: white;
    mix-blend-mode: difference;
    font-size: 22px;
}

.nuvcover nav ul li::before {
    content: '';
    position: absolute;
    width: 1.5em;
    height: inherit;
    background-color: #78e3ff;
    border-radius: 20%;
    top: 0;
    left: -0.75em;
    transition: 0.5s ease-out;
}

.nuvcover nav ul li:hover::before {
    transform: scale(7);
    border-radius: 50%;
}

.admin-panel-left{
    visibility: hidden;
    display: block;

    margin-top: 450px;
    position: fixed;
    vertical-align: bottom
}

.admin-panel-left a{
    display: block;
    margin: 4%;
    border-radius: 30%;
}


/* RIGHT panel*/
.siteAds {
    padding: 15px;
    grid-area: ads;
}

.content-section{
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;

}
.right_panel{
    margin-top: 17%;
}

.admin-panel{
    display: block;
    padding: 2%;
    margin-top: 15%;
    position: fixed;
    vertical-align: bottom
}

.admin-panel a{
    display: block;
    margin: 4%;
    border-radius: 30%;
}

/*  FOOTER */
.pageFooter {
    padding: 0;
    grid-area: footer;
}

footer a {
    color: #451a24;
    text-decoration: none;
}

footer a:hover {
    color: #ff0016;
}